.popup-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.popup-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.popup-enter-done {
  opacity: 1;
  transform: translateY(0);
}
.popup-exit {
  opacity: 1;
  transform: translateY(0);
}
.popup-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}
.popup-exit-done {
  opacity: 0;
  transform: translateY(-10px);
}
